@import 'tailwindcss';
@import "tw-animate-css";


@layer base {
	select {
		width: 100%;
		padding-left: 0.75rem;
		padding-right: 0.75rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border: 1px solid #d1d5db;
		border-radius: 0.375rem;
		outline: none;
	}


	h1 {
		filter: drop-shadow(0 0 3px #f0b100);
		@apply text-4xl md:text-5xl font-bold;
	}

	h2 {
		@apply text-2xl md:text-4xl font-bold border-b-2 p-2 border-yellow-500 mb-4;
		filter: drop-shadow(0 0 3px #f0b100);
	}

	h3 {
		@apply text-xl md:text-2xl font-semibold;
	}

	strong {
		@apply text-yellow-100 font-bold;
	}

	h4 {
		@apply text-lg md:text-xl font-semibold;
		filter: drop-shadow(0 0 3px #f0b100);
	}

	h5 {
		@apply text-base md:text-lg font-semibold;
		filter: drop-shadow(0 0 3px #f0b100);
	}

	h6 {
		@apply text-sm md:text-base font-semibold;
		filter: drop-shadow(0 0 3px #f0b100);
	}

	p {
		@apply text-balance text-base md:text-lg font-normal;
	}

	body,
	html {
		color: white;
	}

	h1 {
		@apply text-4xl md:text-5xl font-bold;
		filter: drop-shadow(0 0 3px #f0b100);
	}

	/* All other heading tags remain white for consistency */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-white font-bold text-center my-2 text-shadow-sm text-shadow-black;
	}

	img {
		object-fit: contain;
	}

	label {
		color: white;
		line-height: 1.625;
		font-weight: bold;
	}

	@media (min-width: 768px) {
		label {
			font-size: 1.125rem;
		}
	}

	@media (min-width: 768px) {
		p {
			font-size: 1.125rem;
		}
	}

	li {
		color: white;
		line-height: 1.625;
		font-size: 1rem;
	}

	@media (min-width: 768px) {
		li {
			font-size: 1.125rem;
		}
	}
}