@import 'tailwindcss';
@import './globals.css';

@layer base {
	body {
		@apply m-0 p-0 text-white bg-black bg-fixed h-full relative;
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
			'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
			'Segoe UI Symbol', 'Noto Color Emoji';
		background-image: url('/BackGround.png');
		background-size: cover;
		background-repeat: no-repeat;
		color: white;
	}

	article {
		@apply bg-yellow-700 rounded-md py-2 md:p-6 my-3 mt-6 mb-6 px-8 shadow-sm shadow-black;
	}

	nav {
		@apply m-0 p-0 md:p-6;
	}

	/* Removed deprecated footer style */
}